<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</head>

<body>
<!-- header-->
  <header class="header fixed-top">
    <div class="left-header wow fadeInUp">
        <h1>
            <a href="./index.html" title="行動學習網">
                <img src="./assets/images/210628-update/pc/logo.svg" alt="行動學習網">
            </a>
        </h1>
        <div class="contact">
            <div class="contact-inner">
                <img src="./assets/images/210628-update/pc/icon_phone.svg" alt="">
                <span>免費諮詢專線</span>
            </div>
            <a href="tel:0800-223-003">
                0800-223-003
            </a>
        </div>
    </div>
    <div class="right-header wow fadeInUp">
        <div class="header-search">
            <span style="padding-left: 15px;">現在有<span style="color: #fbb03b;">214</span>門課課程|</span><span style="color: #fbb03b;">2323265</span><span>位會員</span>
            <label class="find">
                <input placeholder="想找點什麼課程?">
            </label>
        </div>
        <div class="icon">
            <ul>
                <li><a href="#"><img src="./assets/images/icon/member.svg" alt=""></a></li>
                <li><a href="#"><img src="./assets/images/icon/cart.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li open-menu="course"><a href="#"><img src="./assets/images/210628-update/pc/menu_1.svg" alt=""></a></li>
                <li open-menu="main"><a href="#"><img src="./assets/images/210628-update/pc/menu_2.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="fixed-right">
        <ul class="fixed-right-menu">
            <li><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/1.gif" alt=""></a></li>
            <li><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/2.gif" alt=""></a></li>
            <li class="dropdown-toggle"><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/top.png" alt=""></a></li>
            <ul class="icon">
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/open.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/line.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/fb.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/shareto.png"></a></li>
            </ul>
        </ul>
    </div>
    <div class="fixed-black">
        <div class="fixed-black-box"></div>
        <ul class="menu">
            <li><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/gif3.gif"></a></li>
            <li><a href="#"><img src="./assets/images/icons/2.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/2.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/3.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/4.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/5.svg"></a></li>
        </ul>
    </div>
</header>

<%- contents %>

<div menu="main" level="0">
    <ul>
        <li><a href="#">常見問題</a></li>
        <li><a href="#">獎學金申請</a></li>
        <li open-menu="main2"><a href="#">榜單見證</a></li>
        <li><a href="#">考試攻略</a></li>
        <li><a href="#">相關免費服務</a></li>
        <li><a href="#">限時優惠/精選活動</a></li>
        <li><a href="#">關於我們</a></li>
    </ul>
    <ul menu="main2">
        <li><a href="#">免費題庫</a></li>
        <li><a href="#">免費課程</a></li>
        <li><a href="#">過去live課程直播</a></li>
        <li><a href="#">考古題練習網</a></li>
        <li><a href="#">夥伴網</a></li>
        <li><a href="#">落點分析服務</a></li>
        <li><a href="#">學測5採4查詢</a></li>
        <li><a href="#">國家考試日程</a></li>
    </ul>
</div>

<div menu="course" level="0">
    <ul>
        <li><a href="#">升學課程</a></li>
        <li><a href="#">教職課程</a></li>
        <li><a href="#">公職課程</a></li>
        <li open-menu="course-b"><a href="#">就業課程</a></li>
        <% for(var i=0; i < 10; i++) { %>
        <li><a href="#"><%= i %>課程</a></li>
        <% } %>
        <li open-menu="course-b1"><a href="#">ddd課程</a></li>
        <li><a href="#">xx課程</a></li>
    </ul>
    <ul menu="course-b" level="2">
        <li><a href="#">bbbb課程</a></li>
        <li open-menu="course-c"><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li open-menu="course-d"><a href="#">ddd課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
    </ul>
    <ul menu="course-b1" level="2">
        <li open-menu="course-c"><a href="#">bbbb1課程</a></li>
        <li open-menu="course-d"><a href="#">ddd課程</a></li>
        <% for(var i=0; i < 10; i++) { %>
        <li><a href="#">b1b1b1 <%= i %>課程</a></li>
        <% } %>
    </ul>
    <ul menu="course-c" level="3">
        <% for(var i=0; i < 20; i++) { %>
        <li><a href="#">ccc <%= i %>課程</a></li>
        <% } %>
    </ul>
    <ul menu="course-d" level="3">
        <% for(var i=0; i < 20; i++) { %>
            <li><a href="#">ddd <%= i %>課程</a></li>
            <% } %>
    </ul>
</div>

<footer class="footer-container">
    <div class="footer wow fadeInUp">
        <h2>-免費諮詢專線-</h2>
        <small>課程 ｜ 考試 ｜ 客服</small>
            <div class="box">
                <i class="fas fa-phone-alt"></i>
                <a href="#">0800-223-003</a>
            </div>
        <p>週間：09:00~21:00/假日：11:00~20:00</p>
    </div>
    <div class="copyRight">
        <ul>
            <li><img src="./assets/images/210628-update/pc/logo.svg"></li>
            <li><span>行動學習科技股份有限公司 © Mobile Learning Co., Ltd.</span></li>
        </ul>
    </div>
</footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
