<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</head>

<body>
<!-- header-->
  <header class="header fixed-top">
    <div class="left-header wow fadeInUp">
        <h1>
            <a href="./index.html" title="行動學習網">
                <img class="pc" src="./assets/images/210628-update/pc/logo.svg" alt="行動學習網">
                <img class="mobile" src="./assets/images/210628-update/ph/logo.svg" alt="行動學習網">
            </a>
        </h1>
        <div class="contact">
            <div class="contact-inner">
                <img src="./assets/images/210628-update/pc/icon_phone.svg" alt="">
                <span>免費諮詢專線</span>
            </div>
            <a href="tel:0800-223-003">
                0800-223-003
            </a>
        </div>
    </div>
    <div class="right-header wow fadeInUp">
        <div class="header-search">
            <span >現在有<span style="color: #fbb03b;">214</span>門課課程|</span><span style="color: #fbb03b;">2323265</span><span>位會員</span>
            <label class="find">
                <input placeholder="想找點什麼課程?">
            </label>
        </div>
        <div class="icon">
            <ul>
                  <!-- mobile -->
                  <li class="mobile mobile-search">
                    <a href="javascript:;">
                      <img src="./assets/images/2_Search/1_search/icon_search.png" alt="">
                    </a>
                  </li>
                  <!-- pc -->
                  <li><a href="#"><img src="./assets/images/icon/member.svg" alt=""></a></li>
                  <li><a href="#"><img src="./assets/images/icon/cart.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="menu">
               <!-- pc -->
            <ul class="menu-cont pc">
                <li><a href="./class.html" class=""><img src="./assets/images/210628-update/pc/menu_1.svg" alt=""></a></li>
                <li><a href="javascript:;" class=""><img src="./assets/images/210628-update/pc/menu_2.svg" alt=""></a></li>
            </ul>
            <!-- mobile -->
            <ul class="menu-cont mobile">
                <li>
                    <a href="javascript:;" class="schools-list">
                        <img src="./assets/images/210628-update/ph/menu_1.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="web-menu-list">
                    <img src="./assets/images/210628-update/ph/menu_2.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="fixed-right">
        <ul class="fixed-right-menu">
            <li class="pc-mid"><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/1.gif" alt=""></a></li>
            <li class="pc-mid"><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/2.gif" alt=""></a></li>
            <li class="dropdown-toggle">
                <a href="javascript:;" class="open">
                  <img src="./assets/images/0_Plublic/3_bottommenu/open.png" alt="">
                </a>
                <a href="javascript:;" class="close-menu">
                  <img src="./assets/images/0_Plublic/3_bottommenu/close.png" alt="">
                </a>
            </li>
            <ul class="icon">
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/phone.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/line.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/fb.png"></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/3_bottommenu/shareto.png"></a></li>
            </ul>
        </ul>
    </div>
    <div class="fixed-black">
        <div class="fixed-black-box"></div>
        <ul class="menu">
            <li><a href="#"><img src="./assets/images/0_Plublic/2_sidemenu/gif3.gif"></a></li>
            <li><a href="#"><img src="./assets/images/icons/2.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/2.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/3.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/4.svg"></a></li>
            <li><a href="#"><img src="./assets/images/icon-right-header/5.svg"></a></li>
        </ul>
        <ul class="mobile-menu">
            <li>
                <a href="javascript:;">
                   <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/joinus_gif.gif" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/4.png" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/5.png" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./assets/images/0_Plublic/2_sidemenu/mobile_sidemenu/6.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</header>

<%- contents %>

<div menu="main" level="0">
    <ul>
        <li><a href="#">常見問題</a></li>
        <li><a href="#">獎學金申請</a></li>
        <li open-menu="main2"><a href="#">榜單見證</a></li>
        <li><a href="#">考試攻略</a></li>
        <li><a href="#">相關免費服務</a></li>
        <li><a href="#">限時優惠/精選活動</a></li>
        <li><a href="#">關於我們</a></li>
    </ul>
    <ul menu="main2" level="1">
        <li><a href="#">免費題庫</a></li>
        <li><a href="#">免費課程</a></li>
        <li><a href="#">過去live課程直播</a></li>
        <li><a href="#">考古題練習網</a></li>
        <li><a href="#">夥伴網</a></li>
        <li><a href="#">落點分析服務</a></li>
        <li><a href="#">學測5採4查詢</a></li>
        <li><a href="#">國家考試日程</a></li>
    </ul>
</div>

<div menu="course" level="0">
    <ul>
        <li><a href="#">升學課程</a></li>
        <li><a href="#">教職課程</a></li>
        <li><a href="#">公職課程</a></li>
        <li open-menu="course-b"><a href="#">就業課程</a></li>
        <% for(var i=0; i < 10; i++) { %>
        <li><a href="#"><%= i %>課程</a></li>
        <% } %>
        <li open-menu="course-b1"><a href="#">ddd課程</a></li>
        <li open-menu="course-b"><a href="#">ddd課程</a></li>
        <li><a href="#">xx課程</a></li>
    </ul>
    <ul menu="course-b" level="2">
        <li><a href="#">bbbb課程</a></li>
        <li open-menu="course-c"><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li open-menu="course-d"><a href="#">ddd課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
        <li><a href="#">bbbb課程</a></li>
    </ul>
    <ul menu="course-b1" level="2">
        <li open-menu="course-c"><a href="#">bbbb1課程</a></li>
        <li open-menu="course-d"><a href="#">ddd課程</a></li>
        <% for(var i=0; i < 10; i++) { %>
        <li><a href="#">b1b1b1 <%= i %>課程</a></li>
        <% } %>
    </ul>
    <ul menu="course-c" level="3">
        <% for(var i=0; i < 20; i++) { %>
        <li><a href="#">ccc <%= i %>課程</a></li>
        <% } %>
    </ul>
    <ul menu="course-d" level="3">
        <% for(var i=0; i < 20; i++) { %>
            <li><a href="#">ddd <%= i %>課程</a></li>
            <% } %>
    </ul>
</div>

<footer class="footer-container">
    <div class="footer wow fadeInUp">
        <div class="content">
            <h2>-免費諮詢專線-</h2>
            <small>課程 ｜ 考試 ｜ 客服</small>
                <div class="box">
                    <i class="fas fa-phone-alt"></i>
                    <a href="#">0800-223-003</a>
                </div>
            <p>週間：09:00~21:00/假日：11:00~20:00</p>
        </div>
    </div>
    <div class="copyRight">
        <ul>
            <li><img src="./assets/images/210628-update/pc/logo.svg"></li>
            <li><span>行動學習科技股份有限公司 © Mobile Learning Co., Ltd.</span></li>
        </ul>
    </div>
</footer>


<!-- model -->
<div class="model school-model">
    <div class="top-head">
      <span>課程選單</span>
      <a href="javascript:;">
        <img src="./assets/images/0_Plublic/1_header/close_white_24dp.svg" alt="">
      </a>
    </div>
    <div class="top-menu">
      <ul>
        <!-- 升學 -->
        <li>
          <span class="schools">
            <p>升學課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="sch-u2">
            <li>
              <span class="element">
                <p>國小</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="ele-u3">
                <li><a href="javascript:;">資優班/升私中入學考</a></li>
                <li><a href="javascript:;">資優數學</a></li>
                <li><a href="javascript:;">英文文法救星</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="junior">
                <p>國中</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="ju-u3">
                <li><a href="javascript:;">國一&先修</a></li>
                <li><a href="javascript:;">國二</a></li>
                <li><a href="javascript:;">國三</a></li>
                <li><a href="javascript:;">線上測驗即時評析</a></li>
                <li><a href="javascript:;">110會考總複習</a></li>
                <li><a href="javascript:;">110會考總複習(早鳥預報)</a></li>
                <li><a href="javascript:;">天下英文</a></li>
                <li><a href="javascript:;">徐微英文</a></li>
                <li><a href="javascript:;">英文文法救星</a></li>
                <li><a href="javascript:;">GEPT全民英檢</a></li>
                <li><a href="javascript:;">高中科學班入學考</a></li>
                <li><a href="javascript:;">高中數理資優班入學考</a></li>
                <li><a href="javascript:;">台南市數學競賽</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="vacational-schools">
                <p>高職</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="vac-u3">
                <li><a href="javascript:;">線上直播班</a></li>
                <li><a href="javascript:;">統測總複習</a></li>
                <li><a href="javascript:;">統測題庫班</a></li>
                <li><a href="javascript:;">升大學備審輔導</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="high-schools">
                <p>高中</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="high-u3">
                <li><a href="javascript:;">高一&先修</a></li>
                <li><a href="javascript:;">高二</a></li>
                <li><a href="javascript:;">高三</a></li>
                <li><a href="javascript:;">高四重修班</a></li>
                <li><a href="javascript:;">高中轉學考</a></li>
                <li><a href="javascript:;">110學測總複習</a></li>
                <li><a href="javascript:;">111學測總複習(早鳥預報)</a></li>
                <li><a href="javascript:;">升大學備審資料輔導</a></li>
                <li><a href="javascript:;">英文文法救星</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">110GPS升學導航</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">高中數理資優班入學考</a></li>
                <li><a href="javascript:;">高中科學班入學考</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="college-transfer-test">
                <p>大學轉學考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="col-trans-u3">
                <li><a href="javascript:;">台粽大</a></li>
                <li><a href="javascript:;">台聯大</a></li>
                <li><a href="javascript:;">私醫聯招</a></li>
                <li><a href="javascript:;">題庫班</a></li>
                <li><a href="javascript:;">資訊類</a></li>
                <li><a href="javascript:;">工程類</a></li>
                <li><a href="javascript:;">數理化類</a></li>
                <li><a href="javascript:;">醫藥衛生類</a></li>
                <li><a href="javascript:;">生物資源類</a></li>
                <li><a href="javascript:;">地球與環境類</a></li>
                <li><a href="javascript:;">管理與財經類</a></li>
                <li><a href="javascript:;">社會與心理類</a></li>
                <li><a href="javascript:;">文史哲類</a></li>
                <li><a href="javascript:;">外語類</a></li>
                <li><a href="javascript:;">法政類</a></li>
                <li><a href="javascript:;">教育類</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="institute">
                <p>研究所</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="ins-u3">
                <li><a href="javascript:;">SPSS/AMOS</a></li>
                <li><a href="javascript:;">共同科目</a></li>
                <li><a href="javascript:;">化學/化工</a></li>
                <li><a href="javascript:;">教育/心輔</a></li>
                <li><a href="javascript:;">食品/營養</a></li>
                <li><a href="javascript:;">生技/醫學</a></li>
                <li><a href="javascript:;">理工/資訊</a></li>
                <li><a href="javascript:;">電子/電機</a></li>
                <li><a href="javascript:;">機械/工程</a></li>
                <li><a href="javascript:;">財經/管理</a></li>
                <li><a href="javascript:;">社會/社工</a></li>
                <li><a href="javascript:;">電子/電機</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="nursing">
                <p>護專</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="nurse-u3">
                <li><a href="javascript:;">二技護理</a></li>
                <li><a href="javascript:;">護理校園專案(專科生)</a></li>
                <li><a href="javascript:;">護理校園專案(後護生)</a></li>
                <li><a href="javascript:;">N3/N4晉生</a></li>
                <li><a href="javascript:;">公職護理師</a></li>
                <li><a href="javascript:;">學校護理人員</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="police-academy">
                <p>警專</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="academy-u3">
                <li><a href="javascript:;">甲組(消防安全/海洋巡防)</a></li>
                <li><a href="javascript:;">乙組(行政警察)</a></li>
                <li><a href="javascript:;">丙組(刑事/交通/偵查)</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="medicine">
                <p>學士後醫學</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="med-u3">
                <li><a href="javascript:;">學士後中醫</a></li>
                <li><a href="javascript:;">學士後西醫</a></li>
                <li><a href="javascript:;">學士後獸醫</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 教職 -->
        <li>
          <span class="teacher">
            <p>教職課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="teacher-u2">
            <li>
              <span class="teacher-qualification">
                <p>教師資格考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="quali-u3">
                <li><a href="javascript:;">幼兒園</a></li>
                <li><a href="javascript:;">國民小學</a></li>
                <li><a href="javascript:;">中等學校</a></li>
                <li><a href="javascript:;">特殊教育</a></li>
                <li><a href="javascript:;">總複習班</a></li>
                <li><a href="javascript:;">教綜搶分密技</a></li>
                <li><a href="javascript:;">教檢申論輔導</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="selection">
                <p>教師徵選</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="t-sel-u3">
                <li><a href="javascript:;">幼兒園老師</a></li>
                <li><a href="javascript:;">國民小學老師</a></li>
                <li><a href="javascript:;">中等學校老師</a></li>
                <li><a href="javascript:;">特殊教育老師</a></li>
                <li><a href="javascript:;">總複習班</a></li>
                <li><a href="javascript:;">教甄各區專班</a></li>
                <li><a href="javascript:;">教檢搶分秘技</a></li>
                <li><a href="javascript:;">教檢申論輔導</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="educare-giver">
                <p>公幼教保員</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="educare-giver-u3">
                <li><a href="javascript:;">公幼教保員</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="educare-class">
                <p>幼教專班</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="educare-class-u3">
                <li><a href="javascript:;">幼教專班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="free-master"> 
                <p>公費碩士班</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="free-master-u3">
                <li><a href="javascript:;">公費碩士班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="rector">
                <p>校長主任甄試</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="rector-u3">
                <li><a href="javascript:;">校長主任甄試</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="edu-exam">
                <p>教育學程甄試</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="edu-exam-u3">
                <li><a href="javascript:;">教育學程甄試</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="sup-teacher">
                <p>補教師資培訓</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="sup-teacher-u3">
                <li><a href="javascript:;">補教師資培訓</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="sub-knowledge">
                <p>學科知能評量</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="sub-knowledge-u3">
                <li><a href="javascript:;">學科知能評量</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 公職 -->
        <li>
          <span class="public-offices">
            <p>公職課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="public-offices-u2">
            <li>
              <span class="gaopu">
                <p>高普考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="gaopu-u3">
                <li><a href="javascript:;">衛生技術/衛生行政</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">一般行政</a></li>
                <li><a href="javascript:;">一般民政</a></li>
                <li><a href="javascript:;">人事行政</a></li>
                <li><a href="javascript:;">財稅行政</a></li>
                <li><a href="javascript:;">體育行政</a></li>
                <li><a href="javascript:;">社會行政</a></li>
                <li><a href="javascript:;">勞工行政</a></li>
                <li><a href="javascript:;">文化行政</a></li>
                <li><a href="javascript:;">教育行政</a></li>
                <li><a href="javascript:;">客家事務行政</a></li>
                <li><a href="javascript:;">食品衛生檢驗</a></li>
                <li><a href="javascript:;">生計技術</a></li>
                <li><a href="javascript:;">金融保險</a></li>
                <li><a href="javascript:;">地政</a></li>
                <li><a href="javascript:;">資訊處理</a></li>
                <li><a href="javascript:;">消防技術</a></li>
                <li><a href="javascript:;">共同科目</a></li>
                <li><a href="javascript:;">高考申論輔導</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="one-test">
                <p>初考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="one-test-u3">
                <li><a href="javascript:;">五等跨考區</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">一般行政</a></li>
                <li><a href="javascript:;">人事行政</a></li>
                <li><a href="javascript:;">財務行政</a></li>
                <li><a href="javascript:;">教育行政</a></li>
                <li><a href="javascript:;">社會行政</a></li>
                <li><a href="javascript:;">交通行政</a></li>
                <li><a href="javascript:;">勞工行政</a></li>
                <li><a href="javascript:;">金融保險</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="special-places-test">
                <p>地方特考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="special-places-test-u3">
                <li><a href="javascript:;">三等</a></li>
                <li><a href="javascript:;">四等</a></li>
                <li><a href="javascript:;">五等</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="special-test">
                <p>特種考試</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="special-test-u3">
                <li><a href="javascript:;">調查局特考</a></li>
                <li><a href="javascript:;">國安局套考</a></li>
                <li><a href="javascript:;">移民署特考</a></li>
                <li><a href="javascript:;">司法特考</a></li>
                <li><a href="javascript:;">外交特考</a></li>
                <li><a href="javascript:;">一般警察特考</a></li>
                <li><a href="javascript:;">關務特考</a></li>
                <li><a href="javascript:;">鐵路特考</a></li>
                <li><a href="javascript:;">原住民特考</a></li>
                <li><a href="javascript:;">身心障礙特考</a></li>
                <li><a href="javascript:;">退除役特考</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="update">
                <p>升資/轉任</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="update-u3">
                <li><a hre="javascript:;">退除役特考</a></li>
                <li><a hre="javascript:;">將校轉任</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="skills">
                <p>公職專技人員</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="skills-u3">
                <li><a hre="javascript:;">公職護理師</a></li>
                <li><a hre="javascript:;">公職營養師</a></li>
                <li><a hre="javascript:;">公職社工師</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 就業 -->
        <li>
          <span class="get-job">
            <p>就業課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="get-job-u2">
            <li>
              <span class="state">
                <p>國營事業聯招</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="state-u3">
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">人資類</a></li>
                <li><a href="javascript:;">法務類</a></li>
                <li><a href="javascript:;">政風類</a></li>
                <li><a href="javascript:;">電機類</a></li>
                <li><a href="javascript:;">機械類</a></li>
                <li><a href="javascript:;">儀電類</a></li>
                <li><a href="javascript:;">地政類</a></li>
                <li><a href="javascript:;">化學類</a></li>
                <li><a href="javascript:;">文資類</a></li>
                <li><a href="javascript:;">資訊類</a></li>
                <li><a href="javascript:;">化工製成</a></li>
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="post-office">
                <p>中華郵政</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="post-office-u3">
                <li><a href="javascript:;">中華郵政</a></li>
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="electric">
                <p>台電雇員</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="electric-u3">
                <li><a href="javascript:;">綜合行政人員</a></li>
                <li><a href="javascript:;">配電線路</a></li>
                <li><a href="javascript:;">電機運轉/電機維護</a></li>
                <li><a href="javascript:;">機械運轉/機械維護</a></li>
                <li><a href="javascript:;">輸電線路/變電設備/變電工程</a></li>
                <li><a href="javascript:;">儀電運轉</a></li>
                <li><a href="javascript:;">保健物理</a></li>
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="oil">
                <p>中油雇員</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="oil-u3">
                <li><a href="javascript:;">煉製類</a></li>
                <li><a href="javascript:;">機械類</a></li>
                <li><a href="javascript:;">儀電類</a></li>
                <li><a href="javascript:;">油料操作類</a></li>
                <li><a href="javascript:;">探採鑽井類</a></li>
                <li><a href="javascript:;">事務類</a></li>
                <li><a href="javascript:;">輸器類(需證照)</a></li>
                <li><a href="javascript:;">電器類(需證照)</a></li>
                <li><a href="javascript:;">安環類(需證照)</a></li>
                <li><a href="javascript:;">航空加油類(需證照)</a></li>
                <li><a href="javascript:;">車輛修護類(需證照)</a></li>
                <li><a href="javascript:;">消防類(需證照)</a></li>
                <li><a href="javascript:;">電機類(需證照)</a></li>
                <li><a href="javascript:;">油罐汽車駕駛員類(需證照)</a></li>
                <li><a href="javascript:;">加油站儲備幹部類(需3年經驗)</a></li>
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="bank">
                <p>銀行招考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="bank-u3">
                <li><a href="javascript:;">銀行招考</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="water">
                <p>台水評價人員</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="water-u3">
                <li><a href="javascript:;">營運士</a></li>
                <li><a href="javascript:;">技術士</a></li>  
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="farming">
                <p>農會招考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="farming-u3">
                <li><a href="javascript:;">農會招考</a></li>  
                <li><a href="javascript:;">國營跨考組合</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="steel">
                <p>中國鋼鐵</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="steel-u3">
                <li><a href="javascript:;">員級</a></li>
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="water-con">
                <p>水利會招考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="water-con-u3">
                <li><a href="javascript:;">灌溉管理人員</a></li>
                <li><a href="javascript:;">一般行政人員</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="dry-nurse">
                <p>護理師招考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="dry-nurse-u3">
                <li><a href="javascript:;">學校護理人員</a></li>  
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="mrt">
                <p>捷運招考</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="mrt-u3">
                <li><a href="javascript:;">決戰面試表達力</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="fit">
                <p>FIT金融人員基礎學科測試</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="fit-u3">
                <li><a href="javascript:;">FIT金融人員基礎學科測試</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="drive">
                <p>航空/海運</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="drive-u3">
                <li><a href="javascript:;">空地勤航空面試課程</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 執照 -->
        <li>
          <span class="license">
            <p>執照課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="license-u2">
            <li>
              <span class="nurse-license">
                <p>護理師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="nurse-license-u3">
                <li><a href="javascript:;">護理師</a></li>
                <li><a href="javascript:;">護理校園專案(專科生)</a></li>
                <li><a href="javascript:;">護理校園專案(大護生)</a></li>
                <li><a href="javascript:;">護理校園專案(後護生)</a></li>
                <li><a href="javascript:;">N3/N4晉升</a></li>
                <li><a href="javascript:;">公職護理師</a></li>
                <li><a href="javascript:;">學校護理師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="nutritionist">
                <p>營養師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="nutritionist-u3">
                <li><a href="javascript:;">營養師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="food">
                <p>食品技師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="food-u3">
                <li><a href="javascript:;">食品技師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="physiotherapy">
                <p>物理治療師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="physiotherapy-u3">
                <li><a href="javascript:;">物理治療師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="high-test">
                <p>高考技師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="high-test-u3">
                <li><a href="javascript:;">工業安全技師</a></li>
                <li><a href="javascript:;">化學工程技師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="tourist-guide">
                <p>領隊/導遊</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="tourist-guide-u3">
                <li><a href="javascript:;">領隊/導遊</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="bookkeeper">
                <p>記帳士</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="bookkeeper-u3">
                <li><a href="javascript:;">記帳士</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="scrivener">
                <p>地政士</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="scrivener-u3">
                <li><a href="javascript:;">地政士</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="immovables">
                <p>不動產經理</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="immovables-u3">
                <li><a href="javascript:;">不動產經理</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="firefighting">
                <p>消防士被士/師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="firefighting-u3">
                <li><a href="javascript:;">消防士被士/師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="society">
                <p>社會工作師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="society-u3">
                <li><a href="javascript:;">社會工作師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="consultation">
                <p>諮商心理師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="consultation-u3">
                <li><a href="javascript:;">諮商心理師</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="doctor">
                <p>醫師</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="doctor-u3">
                <li><a href="javascript:;">醫師(一)</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 語言 -->
        <li>
          <span class="lang-class">
            <p>語言課程</p>
            <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
          </span>
          <ul class="lang-class-u2">
            <li>
              <span class="eng-test">
                <p>英文檢定</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="eng-test-u3">
                <li><a href="javascript:;">TOEFL iBT托福</a></li>
                <li><a href="javascript:;">IELTS雅思</a></li>
                <li><a href="javascript:;">SAT測驗</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="koa-test">
                <p>韓文檢定/韓語</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="koa-test-u3">
                <li><a href="javascript:;">TOPIK韓文檢定</a></li>
                <li><a href="javascript:;">魯水晶韓學堂</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="japan-test">
                <p>日文檢定/日語</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="japan-test-u3">
                <li><a href="javascript:;">Akira日語學堂</a></li>
                <li><a href="javascript:;">生活日語</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="europen-test">
                <p>歐洲語系</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="europen-test-u3">
                <li><a href="javascript:;">法語</a></li>
                <li><a href="javascript:;">德語</a></li>
                <li><a href="javascript:;">西班牙語</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="southeast-asia-test">
                <p>東南亞語系</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="southeast-asia-test-u3">
                <li><a href="javascript:;">合瓊玲泰語</a></li>
                <li><a href="javascript:;">陳鳳凰越南語</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="pro-test">
                <p>科丁程式語言</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="pro-test-u3">
                <li><a href="javascript:;">Scratch程式語言初階一級</a></li>
                <li><a href="javascript:;">Scratch程式語言初階二級</a></li>
                <li><a href="javascript:;">Scratch程式語言融入英文教學</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
            <li>
              <span class="eng-learn">
                <p>英文學習專班</p>
                <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
              </span>
              <ul class="eng-learn-u3">
                <li><a href="javascript:;">英文學習專區</a></li>
                <li><a href="javascript:;">雪薇英文專修班</a></li>
                <li><a href="javascript:;">課程延期</a></li>
                <li><a href="javascript:;">...更多</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- web-menu model -->
  <div class="web-menu">
    <div class="top-head">
      <span>網站選單</span>
      <a href="javascript:;">
        <img src="./assets/images/0_Plublic/1_header/close_white_24dp.svg" alt="">
      </a>
    </div>
    <div class="top-menu">
      <ul>
        <li>
          <span class="ques">
            <p>常見問題</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="ques-u2">
            <li><a href="javascript:;">所有常見問題</a></li>
            <li><a href="javascript:;">新手上路 Q&A</a></li>
            <li><a href="javascript:;">課程特色</a></li>
            <li><a href="javascript:;">上課方式</a></li>
            <li><a href="javascript:;">獎學金申請 Q&A</a></li>
            <li><a href="javascript:;">購買&付款 疑難雜症</a></li>
            <li><a href="javascript:;">電腦版 Q&A</a></li>
            <li><a href="javascript:;">手機&平板 Q&A</a></li>
            <li><a href="javascript:;">課業求助 Q&A</a></li>
          </ul>
        </li>
        <li>
          <span class="apply-gold">
            <p>獎學金申請</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="apply-gold-u2">
            <li><a href="javascript:;">獎學金申請</a></li>
            <li><a href="javascript:;">上榜有獎</a></li>
            <li><a href="javascript:;">介紹有獎</a></li>
            <li><a href="javascript:;">傑出有獎</a></li>
            <li><a href="javascript:;">錄影加碼</a></li>
            <li><a href="javascript:;">國中就學補助計畫</a></li>
          </ul>
        </li>
        <li>
          <span class="witness">
            <p>榜單見證</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="witness-u2">
            <li><a href="javascript:;">所有榜單</a></li>
            <li><a href="javascript:;">國中榜單</a></li>
            <li><a href="javascript:;">高中榜單</a></li>
            <li><a href="javascript:;">大學轉學考榜單</a></li>
            <li><a href="javascript:;">學士後醫學系榜單</a></li>
            <li><a href="javascript:;">教師資格考榜單</a></li>
            <li><a href="javascript:;">教師甄試榜單</a></li>
            <li><a href="javascript:;">高普考榜單</a></li>
            <li><a href="javascript:;">一般警察特考榜單</a></li>
            <li><a href="javascript:;">鐵路特考榜單</a></li>
            <li><a href="javascript:;">國營事業聯招榜單</a></li>
            <li><a href="javascript:;">中華郵政榜單</a></li>
            <li><a href="javascript:;">護理師榜單</a></li>
            <li><a href="javascript:;">物理治療師榜單</a></li>
          </ul>
        </li>
        <li>
          <span class="raiders">
            <p>考試攻略</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul  class="raiders-u2">
            <li><a href="javascript:;">所有考試攻略詳情</a></li>
            <li><a href="javascript:;">學長姊的考試秘技</a></li>
          </ul>
        </li>
        <li>
          <span class="free-service">
            <p>相關免費服務</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="free-service-u2">
            <li><a href="javascript:;">免費題庫</a></li>
            <li><a href="javascript:;">免費課程</a></li>
            <li><a href="javascript:;">過去課程live直播</a></li>
            <li><a href="javascript:;">考古題練習網</a></li>
            <li><a href="javascript:;">夥伴網</a></li>
            <li><a href="javascript:;">落點分析服務</a></li>
            <li><a href="javascript:;">學測5採4查詢</a></li>
            <li><a href="javascript:;">國家考試日程表</a></li>
          </ul>
        </li>
        <li>
          <span class="activity">
            <p>限時優惠/精選活動</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="activity-u2">
            <li><a href="javascript:;">所有活動詳情</a></li>
            <li><a href="javascript:;">女人的幸福理財術</a></li>
            <li><a href="javascript:;">務必猶你</a></li>
            <li><a href="javascript:;">國高中迎戰新學期</a></li>
            <li><a href="javascript:;">國一新生限定</a></li>
            <li><a href="javascript:;">高一新生限定</a></li>
            <li><a href="javascript:;">骨科天王 獨家線上授課</a></li>
            <li><a href="javascript:;">教師 資格考|甄試</a></li>
            <li><a href="javascript:;">指考總複習5折特惠</a></li>
            <li><a href="javascript:;">魯水晶韓學堂</a></li>
            <li><a href="javascript:;">P&P 1v1 教學 限時領取</a></li>
            <li><a href="javascript:;">轉學考逆轉勝專案</a></li>
          </ul>
        </li>
        <li>
          <span class="about-us">
            <p>關於我們</p>
            <a href="javascript:;">
              <img src="./assets/images/0_Plublic/1_header/expand_more.svg" alt="">
            </a>
          </span>
          <ul class="about-us-u2"> 
            <li><a href="javascript:;">關於行動學習網</a></li>
            <li><a href="javascript:;">成立宗旨</a></li>
            <li><a href="javascript:;">百分百滿意保證</a></li>
            <li><a href="javascript:;">會員服務條款</a></li>
            <li><a href="javascript:;">個資保護聲明</a></li>
            <li><a href="javascript:;">與我合作</a></li>
            <li><a href="javascript:;">客服專區</a></li>
            <li><a href="javascript:;">免費諮詢專線</a></li>
            <li><a href="javascript:;">服務據點</a></li>
            <li><a href="javascript:;">行動關心服務</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- search class -->
  <div class="search-bar">
    <div class="search-head">
      <div class="int-group">
        <img style="max-width: 24px; width: 100%; margin: auto 0;" src="./assets/images/0_Plublic/1_header/icon_search.png" alt="">
        <div style="margin-left: 5%;">
          <input type="text" placeholder="想找點甚麼課程?">
        </div>
      </div>
      <img class="search-close" src="./assets/images/0_Plublic/1_header/close_black.svg" alt="">
    </div>
      <div class="search-menu">
          <div class="search-history">
            <h3>- 歷史搜尋 -</h3>
            <div class="hisory-box">
              <div class="search-box">歷史搜尋最多跑十個字</div>
              <div class="search-box">歷史搜尋</div>
              <div class="search-box">歷史搜尋最</div>
              <div class="search-box">歷史搜尋最史搜</div>
              <div class="search-box">歷史搜尋最史搜</div>
            </div>
          </div>
  
          <div class="search-hot">
            <h3>- 熱門搜尋 -</h3>
              <div class="hot-box">
                <div class="search-box">熱門搜尋最多跑十個字</div>
                <div class="search-box">熱門搜尋</div>
                <div class="search-box">熱門搜尋最</div>
                <div class="search-box">熱門搜尋最史搜</div>
                <div class="search-box">熱門搜尋最史搜</div>
                <div class="search-box">熱門搜尋</div>
                <div class="search-box">熱門搜尋最史搜</div>
                <div class="search-box">熱門搜尋最</div>
              </div>
          </div>
  
      </div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
